.singlePost{
    flex: 9;
}
.singlePostWrapper{
    padding: 20px;
}
.singlePostImg{
    width: 100%;
    object-fit: cover;
    height: 300px;
    border-radius: 7px;
}
.singlePostTitle{
    font-size: 18px;
    text-align: center;
    font-family: 'Lora', serif;
    margin: 10px;
}
.singlePostEdit{
    float: right;
    margin-top: 6px;
}
.singlePostIcon{
    font-size: 16px;
    margin-left: 12px;
    cursor: pointer;
}
.singlePostIcon:first-child{
    color: teal;
}
.singlePostIcon:last-child{
    color: tomato;
}
.singlePostInfo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    color: #b39656;
}
.singlePostContent{
    color: #666;
    font-size: 18px;
    line-height: 25px;
}
.singlePostContent::first-letter{
    font-size: 30px;
    font-weight: 600;
    margin-left: 20px;
}