.post{
    width: 450px;
    margin: 0px 25px 40px 30px;
}
.postImg{
    margin-top: 12px;
    width: 100%;
    height: 300px;
    border-radius: 7px;
    object-fit: cover;
}
.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.postCats{
    margin: 12px;
    display: flex;
    font-family: 'Varela Round', sans-serif;
}
.postCats > span{
    margin-right: 12px;
    font-size: 14px;
    color: rgb(179, 160, 78);
    cursor: pointer;
}
.postTitle{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}
.postTimestamp{
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 13px;
    margin: 12px;
    color: #999; 
}
.postDesc{
    font-size: 14px;
    font-family: 'Varela Round', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
    line-height: 24px;
}